%section
  %h1 Cocoa by the Fire
  %a{ href: "#" } Strictly Business? Head over here >

%section
  %h1 Hi, I'm Brit. I firmly believe there's nothing better than sipping a warm chocolate-y beverage by the fire on a cool night.
  %p Feel free to peruse my collection of artistic endeavors, ramblings, and cocoa cravings.

%nav
  %ul
    %li About Me
    %li Art
    %li Writing
    %li Blog
    %li Photos
    %li Favs
    %li Contact

%section
  %h1 About Me
  %p I grew up in Cincinnati: land of amazing ice cream, epic riverfront fireworks, chili cheese coneys, great sports teams, and really nice people. I moved to Chicago in 2004 to attend engineering school at Northwestern University, and so far I haven't left. That's where I met my insanely amazing husband whose name rhymes with mine (I know - you don't have to say it). We have the world's best dog, a black and white Havanese named Milo. Lately I enjoy travelling, cooking, eating food that involves chocolate (extra dark), reading, writing, cuddling, and occasionally painting. That list changes though. Whenever people ask me whether I am a morning or night person I say neither because I hate waking up and I go to bed earlier than pretty much all of my friends. I don't own a car, don't like being in them, and generally hate to drive. Walking clears my head and biking or public transit are more efficient in the city. My idea of a good time is sharing yummy food and drinks with great people. Oh, and I take my hot cocoa fireside with homemade whipped cream AND marshmallows thank you very much!

  [map of places I have been]


%section
  %h1 Art
  %p So, sometimes I paint. Oil painting in a modern/abstract style to be precise. I find it soothing and energizing at the same time. I also build my own canvases (and by "I" what I really mean is "my husband" because I cannot work a staple gun to save my life). Anyway, here are a few works that I have completed...

%section
  %h1 Favs
  %p I tend to be fairly opinoinated and particular about things, so I thought it might be fun to put together some of my favorite places, foods, and other finds. This will probably be an evolving collection.

  favorite hot chocolate: that place in paris
  favorite ice cream: graeter's black raspberry chip in a waffle cone w/ homemade whipped cream
  favorite gelato: someplace in buenos aires (tbd)
  favorite coffee: intelligentsia, stumptown coffee roasters, or anything colombian (best drank while in south america :)
  favorite big city in the us: chicago > new york > san francisco > [everywhere else] > la
  favorite spot in Europe: right in the middle of hyde park on a sunny afternoon
  favorite chicago restaurants: girl and the goat, graham elliot, frontera grill, xoco, masa azul
  favorite cocktail: mezcal margarita w/ forteleza reposada tequila (or similar), fresh lime juice, cointreau, and homemade simple syrup OR this bourbon and butternut squash drink I had a bar called The Peasantry
  favorite wines right now: malbecs, syrahs, or cabernets, or merlots from mendoza, argentina
  favorite seafood dish: a lobster roll IN Maine
  favorite season: autumn (somewhere where the trees change colors and the weather is pleasant)
  favorite meal: gourmet tacos!
  favorite beach: some tiny beach on Oahu near Honolulu, or the entire southern end of Maui

%section
  %h1 Photos
  %p Artistic snapshots of some memorable places and experiences - mostly taken by my endlessly talented husband.


%section
  %h1 Contact
  %p I'm on Twitter (sometimes), but the quickest way to get ahold of me would be email...




