%section.header
  %h1
    Cocoa
    %span by the
    Fire
  %a{ href: "#" } Strictly Business? Head over here >

%section.description
  %h1 About Me
  %p Hi, I'm Brit. I sip warm cocoa based beverages by the fire on cool evenings.
  %p Feel free to peruse my collection of artistic endeavors, ramblings, and sweet cravings.

%nav
  %ul
    %li Brittany Tarvin Young
    %li Story
    %li Art
    %li Blog
    %li Photos
    %li Favs
    %li Contact

%section.story
  %h1 My Story
  %img{ src: image_path("me.jpg"), alt: "Personal Photo" }
  %p It all started in Cincinnati. A land of amazing ice cream, epic riverfront fireworks, chili cheese coneys, great sports teams, and genuinely nice people. I moved to Chicago in 2004 to attend engineering school at Northwestern University, and so far I haven't left. That's where I met my insanely amazing husband whose name rhymes with mine (I know - you don't have to say it). We have the world's best dog, a black and white Havanese named Milo.
  %p These days, I enjoy traveling, cooking, eating food that involves chocolate (extra dark), reading, writing, cuddling, and occasionally painting. That list changes though. Whenever people ask me whether I am a morning or night person I say neither because I hate waking up and I go to bed earlier than pretty much all of my friends. I don't own a car, don't like being in them, and generally hate to drive. Walking clears my head and biking or public transit are more efficient in the city. My idea of a good time is sharing yummy food and drinks with great people. Oh, and I take my hot cocoa fireside with homemade whipped cream AND marshmallows thank you very much!

%section.favs
  %h1 Favorites
  %p I tend to be fairly opinionated and particular about things. These are some of my favorite places, eats, and other finds.
  %ul
    %li hot chocolate: that place in Paris
    %li ice cream: Graeter's black raspberry chip in a waffle cone w/ homemade whipped cream
    %li gelato: someplace in buenos aires (tbd)
    %li coffee: intelligentsia, stumptown coffee roasters, or anything colombian (best drank while in south america :)
    %li big city in the us: chicago > new york > san francisco > [everywhere else] > la
    %li spot in Europe: right in the middle of hyde park on a sunny afternoon
    %li restaurants: girl and the goat, graham elliot, frontera grill, xoco, masa azul
    %li cocktail: mezcal margarita w/ forteleza reposada tequila (or similar), fresh lime juice, cointreau, and homemade simple syrup OR this bourbon and butternut squash drink I had a bar called The Peasantry
    %li wines: malbecs, syrahs, or cabernets, or merlots from mendoza, argentina
    %li seafood dish: a lobster roll IN Maine
    %li season: autumn (somewhere where the trees change colors and the weather is pleasant)
    %li meal: gourmet tacos!
    %li beach: some tiny beach on Oahu near Honolulu, or the entire southern end of Maui

%section.art
  %h1 Art
  %p So, sometimes I paint. Oil painting in a modern/abstract style to be precise. I find it soothing and energizing at the same time. I also build my own canvases (and by "I" what I really mean is "my husband" because I cannot work a staple gun to save my life). Anyway, here are a few works that I have completed...

%section.photos
  %h1 Photos
  %p Artistic snapshots of some memorable places and experiences - mostly taken by my endlessly talented husband.


%section.contact
  %h1 Contact
  %p I'm on Twitter (sometimes), but the quickest way to get ahold of me would be email...

%footer
  %p The End :)