%section.header
  %h1
    Cocoa
    %span by the
    Fire
  %a.flip{ href: root_path }
    Learn More
    %span my personal side &rarr;

%section.description
  %h1 Bio
  %p Hi, I'm Brit. I pursue creativity and innovation through technology.
  %p Feel free to peruse my collection of recent projects and ramblings.

%nav
  %ul
    %li Brittany Tarvin Young
    %li{ data: { 'section-target' => 'bio' } }
      %a{ href: "#bio" }
        Bio
    %li{ data: { 'section-target' => 'blog' } }
      %a{ href: "http://brittanytarvin.tumblr.com/" }
        Blog
    %li{ data: { 'section-target' => 'outreach' } }
      %a{ href: "#outreach" }
        Outreach
    %li{ data: { 'section-target' => 'talks' } }
      %a{ href: "#talks" }
        Talks
    %li{ data: { 'section-target' => 'contact' } }
      %a{ href: "#contact" }
        Contact

%section#bio.bio
  %h1 My Bio
  %img{ src: image_path("me.jpg"), alt: "Personal Photo" }
  %p For as long as I can remember I have marveled at the power of technological innovation to improve, transform, and delight the world. Most recently, I've been particularly drawn to computers; working to build intelligently designed and functional software. In my professional career this has translated into tackling everyday issues through the use of an industrial engineering mindset (i.e. efficiency, optimization, and system organization) and a generous dose of creativity. In 2009 I co-founded FadingRed, a small Mac/iOS software shop in Chicago. At FadingRed, I've had the opportunity to oversee many Mac, iPhone, iPad, and web app development projects both for corporate and startup clients, as well as internal projects that spurred from personal needs: Koku and Senuti.

  %p Prior to delving into the world of software development and startup management, I also gained experience as a technology consultant for a major pharmaceutical client as a member of IBM's Global Business Services team, and for Proctor & Gamble in Transportation & Logistics. I enjoy writing code and executing, but I also love to facilitate the brainstorming, concepting/prototyping, and imagination phases of a technology project. Each step in the lifecycle of a software project requires a different mix of skills and talents, and I crave that dynamic challenge.

%section#outreach.outreach
  %h1 Outreach
  %p
    Despite the rise in young women and minorities pursuing STEM related fields, the number pursuing computer science degrees actually decreased by 64% from 2000 to 2011<sup>1</sup>. Approximately 26% of professional computer related jobs are currently held by women, and less than 3% by minority women<sup>1</sup>. Those facts bother me. But those are really just numbers. As a woman in the field, I'll tell you the real reason this matters to me: we should not be letting men have all the fun!

  %p
    With so many amazing computer related jobs and many more being created all the time, I want to see conferences and events full of diverse people ready to get their hands dirty. The status quo today, unfortunately, is that the female/minority representation at professional computer related events is frequently considerably less than 26%. Through encouragement, mentorship, role models, and spreading the word, I know this will change.</br>
    %sup [1] U.S. Department of Labor, Bureau of Labor Statistics, 2012

  %p <i>Anyone can volunteer to support minorities in tech, and by doing so myself, I hope to make a difference:</i>

  %p.gdi
    %a{ href: "http://www.girldevelopit.com" }
      %img{ src: image_path("gdi.png"), alt: "Girl Develop It" }
    %a{ href: "http://www.girldevelopit.com/chapters/chicago/" }
      Girl Develop It Chicago
    Chapter Co-Leader
    %a{ href: "http://www.twitter.com/gdichicago/" }
      @gdichicago

  %p Girl Develop It is an awesome, totally inclusive organization that seeks to change the ratio by providing women and minorities with access to affordable classes to dip their toes into programming. GDI is growing at rapid pace and now has chapters in 15 cities! I got the Chicago chapter started and now I help run it with some pretty outstanding people who volunteer their time to teach and encourage women to come over to the tech side! If you're reading this and curious – please come out to a class, they're really fun!

  %p
    <i>Interested in getting involved?</i>
    %a{ href: "mailto:brittany@girldevelopit.com" }
      Feel free to reach out!

%section#talks.talks
  %h1 Speaking
  %p I enjoy speaking about anything from crafting mobile applications to diversity in technology. Here are some of my recent talks...
  %ul
    %li
      %a{ href: "https://qconnewyork.com/user/287" }
        QCon New York 2013 — Hyper Focused to a Fault (Tomorrow's Mobile)
    %li
      %a{ href: "https://qconnewyork.com/user/287" }
        QCon New York 2013 — Mobile Friendly Server Interfaces (Panel)
    %li
      %a{ href: "http://cocoaconf.com/conference/sessionDetails/291?confId=8" }
        CocoaConf Chicago 2013 — Women in Tech Keynote
    %li
      %a{ href: "http://cocoaconf.com/conference/sessionDetails/240?confId=8" }
        CocoaConf Chicago 2013 — Architecting Apps for Mac
    %li
      %a{ href: "http://www.secondconf.com/2012/" }
        SecondConf 2012 — All Dressed Up and Ready to Code!
    %li
      %a{ href: "http://blacklinereview.com/uncubed-job-fair-for-emerging-companies-attracts-600-applicants/" }
        UnCubed Chicago 2013 — Entrepreneurs' Panel

  %h2 Interviews and more...
  %ul
    %li
      %a{ href: "http://nsbrief.com/83-brittany-tarvin/" }
        NSBrief — Podcast Interview
    %li
      %a{ href: "http://appstories4girls.wordpress.com/2013/07/03/brittany-tarvin-fadingred/" }
        App Stories for Girls Profile
    %li
      %a{ href: "http://www.alumtalks.com/2012/08/brittany-tarvin-northwestern-iems-08/" }
        Northwestern Alum Talks Interview
    %li
      %a{ href: "http://www.macobserver.com/tmo/article/ wwdc_fadingred_finds_opportunity_in_bad_backup_habits" }
        MacObserver Interview at WWDC 2010
  %p
    Looking for a speaker for your upcoming event?
    %a{ href: "mailto:brit@cocoabythefire.com" }
      We should chat.

%section#contact.contact
  %h1 Contact
  %p These are my usual social haunts&hellip;
  %a{ href: "https://twitter.com/brittanytarvin" }
    %img{ src: image_path("twitter.png"), alt: "Twitter" }
  %a{ href: "http://linkedin.com/brittanytarvin/" }
    %img{ src: image_path("linkedin.png"), alt: "LinkedIn" }
  %a{ href: "http://www.pinterest.com/cocoabythefire/" }
    %img{ src: image_path("pinterest.png"), alt: "Pinterest" }
  %a{ href: "http://brittanytarvin.tumblr.com" }
    %img{ src: image_path("tumblr.png"), alt: "Tumblr" }
  -# %a{ href: "www.google.com" }
  -#   %img{ src: image_path("skype.png"), alt: "Skype" }

  %p
    &hellip;or you can always just send me an
    %a{ href: "mailto:brit@cocoabythefire.com" } email
    =":)"

%footer
  %p
    &copy; 2013 Brittany Tarvin Young, header image by
    %a{ href: "http://www.flickr.com/photos/striatic/112098447/" }
      striatic