@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700|Amaranth:400,400italic,700,700italic);
@import "constants.scss";
@import "mixins.scss";

body {
  margin: 0;
  font-family: 'Open Sans';
}

body#static_pages.index {
  section.header {
    // TODO: background size needs to be adjusted
    // for small screen sizes when browser doesn't support cover
    background: image-url("cocoa.jpg");
    background-position: center;
    background-size: 100% auto;
    background-size: cover;
    color: white;
    h1 {
      font-family: 'Amaranth', sans-serif;
      font-size: 500%;
      letter-spacing: 0.03em;
      word-spacing: -0.1em;
      text-transform: lowercase;
      font-weight: 400;
      margin: 0;
      text-align: center;
      padding: 1em 0.5em;
      text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
      span {
        font-size:60%;
        word-spacing: -0.2em;
      }
    }
    &:before {
      background: image-url("polyester.png");
      opacity: 0.8;
      display: block;
      height: 20px;
      width: 100%;
      content: "";
      position: fixed;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
    }
  }

  section.description {
    padding: 1em 8em;
    background: #e64c55 image-url("rose.png");
    text-transform: uppercase;
    text-align: center;
    h1 { display: none; }
    p:nth-of-type(1) {
      font-size: 250%;
      font-weight: 600;
      letter-spacing: -0.05em;
      color: #481013;
    }
  }

  nav {
    background: #e67077;
    position: relative;
    ul {
      margin: 0em auto;
      padding: 0em 2em;
      float: right;
      @include for-screens-less-than($screen-target-width-1) {
          text-align: center;
      }
      li {
        color: #481013;
        font-size: 18px;
        font-weight: 700;
        display: inline-block;
        padding: 0em 0.5em;
        line-height: 60px;
        text-transform: uppercase;
        &:nth-of-type(1) {
          position: absolute;
          left: 0px;
          font-size: 24px;
          font-weight: 600;
          font-style: italic;
          margin-left: 0.75em;
          @include for-screens-less-than($screen-target-width-2) {
            font-size: 20px;
          }
          @include for-screens-less-than($screen-target-width-1) {
            display: none;
          }
        }
      }
    }
    &:after {
      @include clearfix;
    }
  }


}